@media screen and (max-width: 750px) {
  #static-gallery-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
    counter-reset: nrimag 0;
  }
}