@media screen and (max-width: 750px){
  #page-grid{
    display : grid;
/*    border : 0.5px solid black;*/
    margin : 0;
    padding : 0;
    grid-template-columns: repeat(1,1fr);
  }

/*  > * {
    border : 0.5px solid red;
    margin : 0;
    padding : 0;
  }*/
}