<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../fragments/head.ejs")%>
    <title>Document</title>
</head>
<body>

<main>

<%- include("../fragments/header.ejs")%>

</main>

<%- include("../fragments/footer.ejs")%>

</body>
</html>