<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Company</h4>
                <ul>
                    <li><a href="">About us</a></li>
                    <li><a href="">Our Services</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Affiliate Program</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>Get Help</h4>

                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Shipping</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="">Order Status</a></li>
                    <li><a href="#">Payment Options</a></li>
                </ul>
            </div>


            <div class="footer-col">
                <h4>Follow Us</h4>
                <div class="social-links">
                    <a href="#"><img src="resources/images/footer-icons/facebook-icon.png" alt="no image found"></a>
                    <a href="#"><img src="../../resources/images/footer-icons/instagram-icon.png" alt="no image found"></a>
                    <a href="#"><img src="resources/images/footer-icons/linkedin-icon.png" alt="no image found"></a>
                    <a href="#"><img src="resources/images/footer-icons/twitter-icon.png" alt="no image found"></a>


                    <!--
                    <a href="#"> <i class="fab fa-facebook"></i> </a>
                    <a href="#"> <i class="fab fa-twitter"></i> </a>
                    <a href="#"> <i class="fab fa-instagram"></i> </a>
                    <a href="#"> <i class="fab fa-linkedin-in"></i> </a>-->
                </div>
            </div>

        </div>
    </div>

</footer>