<nav>
    <label id="hamburger_icon" for="ch-menu">
        <img src="../../resources/images/hamburgerIcon/hamburgerIcon.png" alt="no hamburger image found">
    </label>





        <input id="ch-menu" type="checkbox">

        <ul class="menu">
            <li>
                <a href="/index">Main Page</a>
                <ul>
                    <li><a href="/index#z-cell-1">cell-1</a></li>
                    <li><a href="/index#z-cell-2">cell-2</a></li>
                    <li><a href="/index#z-cell-3">cell-3</a></li>
                    <li><a href="/index#z-cell-4">cell-4</a></li>
                    <li><a href="/index#z-cell-5">cell-5</a></li>
                    <li><a href="/index#z-cell-6">cell-6</a></li>
                    <li><a href="/index#z-cell-7">cell-7</a></li>
                    <li><a href="/index#z-cell-8">cell-8</a></li>

                </ul>
            </li>

            <li><a href="/products">Products</a>
                <% console.log("----------LOCALS---------", locals.products) %>

            </li>
            <li><a href="/register">Register</a></li>
            <li><a href="/virtual-basket">Virtual-basket</a></li>
        </ul>



</nav>
<button id="theme-toggle" class="round-button"></button>
<!--img  id="theme-toggle" class="round-button" src="../../resources/images/colorPalette/sunImage.png" alt="sun image not found">-->